# IntelliJ
*.iml
.idea/
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
/build
/captures
.externalNativeBuild
.cxx
.cxx/
*.apk
output.json
local.properties
# Log/OS Files
*.log
# Keystore files
*.jks
*.keystore
# Google Services (e.g. APIs or Firebase)
google-services.json

# Android Profiling
*.hprof

.directory
